<h2 style="margin-left:300px">Smart List</h2><br>
<label style="margin-left:110px;font-size: 20px">List Title</label>&nbsp;&nbsp;
<input type="text" style="font-size:20px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label style="font-size: 20px">sequence</label>&nbsp;
<select style="font-size:20px;width: 300px" class="browser-default custom-select custom-select-lg mb-3">
   
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>
  <button type="button" class="btn" style="margin-left: 200px;width: 140px;font-size: 20px">OK</button>
  <hr>
<br>
  <table style="margin-left: 200px">
  <tr>
    <th>List Title</th>
    <th>Sequence</th>
    <th>Action</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>  <button type="button">
       
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> </button>
      &nbsp;&nbsp;
      <button type="button">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
    </button></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<a routerLink="/master" routerLinkActive="active"></a>
